<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" id="formid">
    <input type="text"  name="topaste">
    <input type="submit">
</form>
<script>
var user= "<%=username%>"
document.getElementById("formid").action= user +"/update"
</script>

<% Object.values(data).forEach(function(value){ %>
<%=value%><br>
<% })%>

</body>
</html>